* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $cream;
}

h1,
h2 {
  font-family: "Fraunces", serif;
  font-size: 3.4rem;
}

p {
  font-size: $paragraph;
  color: hsl(212deg, 21%, 51%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
