$darkCyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$veryDarkBlue: hsl(212, 21%, 14%);
$white: hsl(0, 0%, 100%);
$paragraph: 14px;

@import "./global";
@import "./card";

@media screen and (max-width: 375px) {
}
