$darkCyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$veryDarkBlue: hsl(212, 21%, 14%);
$white: hsl(0, 0%, 100%);
$paragraph: 14px;

@import "./global";
@import "./card";

@media screen and (min-width: 1441px) {
  .card-container .card-info {
    padding: 5.5rem 9.2rem;
  }
}

@media screen and (max-width: 1095px) {
  .card-container {
    width: 492.75px;
  }
}

@media screen and (max-width: 715px) {
  p {
    margin: 1rem 0;
  }

  button {
    margin: 1rem 0;
  }

  .card-container {
    width: 93%;

    .card-image {
      max-height: 45vh;
      flex: 1 1 40rem;
    }

    .card-info {
      padding: 1.5rem;
      flex: 1 1 40rem;
      justify-content: space-evenly;

      .card-price p {
        margin-left: 2rem;
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .card-container {
    width: 93%;

    .card-image {
      max-height: 32vh;
    }
  }
}
